Host *
  AddKeysToAgent yes
  IdentitiesOnly yes

Host github.com
  Hostname ssh.github.com
  Port 443
  User git
  IdentityFile ~/.ssh/id_ed25519

Host gitlab.epidataconsulting.com
  Hostname gitlab.epidataconsulting.com
  User git
  IdentityFile ~/.ssh/gitlab_epi_ed25519

Host {{ (pass "chezmoi/ssh/internal_server_ip") }}
  ForwardAgent yes

Host git.rafam.ec.gba.gov.ar www.git.rafam.ec.gba.gov.ar
  User git
  IdentityFile ~/.ssh/id_rsa_gitlab
  Port 24319

Host {{ (pass "chezmoi/ssh/rafam_server_ip") }}
  IdentityFile ~/.ssh/id_rsa_epi

Host github-koandina-enterprise
  Hostname ssh.github.com
  Port 443
  User git
  IdentityFile ~/.ssh/id_ed25519_koandina_enterprise

Host github-koandina
  Hostname ssh.github.com
  Port 443
  User git
  IdentityFile ~/.ssh/id_ed25519_koandina
